@tailwind base;
@tailwind components;
@tailwind utilities;

.customBasePadding {
  @apply py-4 px-6 flex justify-center items-center;
}
.customBaseMargin {
  @apply my-4 mx-6 flex justify-center items-center;
}
.translate-z-0 {
  transform: translateZ(0px);
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: #f13024;
}

.swiper-button-next:after,
.swiper-button-prev:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  color: #f13024;
}

@layer base {
  body {
    @apply overflow-hidden leading-relaxed font-poppins bg-white text-baseText text-sm;
  }
}
